* {
	box-sizing: border-box;

	&:before {
		box-sizing: border-box;
	}

	&:after {
		box-sizing: border-box;
	}
}
html {
	font: 100% 'osnova_pro', sans-serif;
}

html, body {
	height: 100%;
}

.main-wrapper {
	height: 100%;
	min-height: 100%;
}

main {
	padding: 155px 0 0;
}

.section {
	min-height: 100%;

	.twig--green {
		background: url(../images/twig-green.png) repeat-x 0 bottom;
	}

	.twig--brown {
		background: url(../images/twig-brown.png) repeat-x 0 bottom;
	}
}

h1 {
	margin: 0;
}