/vendor

/public/static/psd
/public/uploads
/public/test/
.sass-cache
.tmp

node_modules
less

/usersfiles
/psd

.idea
*.clpprj
Thumbs.db

/app/config/database.php
/app/storage
/app/lang
/!files
/!info
/bootstrap/compiled.php