.section-main {
	position: relative;
	background: url(../images/texture.jpg);

	h1 {
		position: absolute;
		top: 50%;
		left: 0;

		width: 100%;
		margin: -74px 0 0 0;

		text-align: center;

		font: 46px / 37px 'room', sans-serif;

		&:after {
			content: '';
			position: absolute;
			bottom: -79px;
			left: 50%;

			width: 188px;
			height: 45px;
			margin: 0 0 0 -99px;

			background: url('../images/h1-dec.png') no-repeat 0 0;
		}
	}

	.clouds {
		.cloud {
			position: absolute;
			
			&.cloud--small {
				width: 231px;
				height: 127px;

				background: url(../images/cloud-small.png) no-repeat 0 0;
				background-size: 100% 100%;
			}

			&.cloud--big {
				width: 328px;
				height: 181px;

				background: url(../images/cloud-big.png) no-repeat 0 0;
				background-size: 100% 100%;
			}
		}

		.cloud-1 {
			top: 18%;
			right: 18%;    
		}
		.cloud-2 {
			top: 25%;
			right: 25%;    		
		}
		.cloud-3 {
			top: 43%;
			right: 56.3%;
		}
	}
}