.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.checkbox-label {
	position: relative;
	display: block;
	margin: 0 0 21rem / $hfs;
	padding-left: 37rem / $hfs;
	font-size: 18em / $hfs;
	line-height: 25em / 18em * 1em;

	cursor: pointer;

	&.ui-state-active {

		&:before {

			background: url(../images/check.jpg) no-repeat center center;
			background-size: 23rem / $hfs 23rem / $hfs;
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;

		width: 25rem / $hfs;
		height: 25rem / $hfs;
		border: 1px solid $clr-black-green;
	}
}