.fancybox-close {
	top: -7rem / $hfs;
	right: -100px;

	background: none;
	text-align: center;

	&:hover {
		&:after {
			color: $clr-light-brown;
		}
	}

	&:after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		display: block;

		content: '\e80b';
		font-family: 'fontello';
		font-size: 3.5rem;
		line-height: 36px;
		text-align: center;

		color: #fff;
	}
}
.fancybox-prev {
	left: -140px;
}
.fancybox-next {
	right: -140px;
}
.fancybox-nav span {
    cursor: pointer;
    height: 34px;
    margin-top: -18px;
    position: absolute;
    top: 50%;
    visibility: hidden;
    width: 36px;
    z-index: 8040;
}
.fancybox-prev {
	span {
		background: none;

		&:hover {
			&:before {
				color: $clr-light-brown;
			}
		}

		&:before {
			content: '\e801';
			background: none;
			color: #fff;
			font-family: 'fontello';
			font-size: 3.5rem;
		}
	}
}
.fancybox-next {
	span {
		background: none;

		&:hover {
			&:before {
				color: $clr-light-brown;
			}
		}

		&:before {
			content: '\e802';
			background: none;
			color: #fff;
			font-family: 'fontello';
			font-size: 3.5rem;
		}
	}
}
