.main-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	width: 100%;
	min-width: 1200rem / $hfs;
	height: 155rem / $hfs;

	padding: 38rem / $hfs 65rem / $hfs 38rem / $hfs;

	background: url(../images/texture.jpg);
	background-repeat: repeat-x;

	.logo {
		width: 178rem / $hfs;
		height: 116rem / $hfs;

		position: absolute;
		top: 1.175rem;
		left: 50%;
		margin: 0 0 0 -89rem / $hfs;

		background: url(../images/logo.png) no-repeat center center;
		background-size: 100% 100%;

		&.active {
			background-image: none;
		}

		&:before {
			content: '';
			opacity: 1;
			position: absolute;
			top: 0;
			left: 43%;

			width: 58rem / $hfs;
			height: 47rem / $hfs;
			margin-left: - 23.5rem / $hfs;

			background: url(../images/logo-small.png) no-repeat 0 0;
			background-size: 100% 100%;
		}
	}

	.order-a-call {
		transition: none;
	}

	.contacts {
		float: left;
	}
	.phone {
		margin: -1em 0 .25em;
		font-size: 22em / $hfs;
		line-height: 32 / 22 * 1em;

		& > a {
			display: block;
			color: $clr-black-green;
			text-decoration: none;
		}

		.phones-delim {
			display: none;
			font-size: .7em;
		}
	}
}

nav {
	transition: all .4s ease;
	position: absolute;
	top: 50%;
	right: 56rem / $hfs;

	margin-top: -23.5em / $hfs;

	@media screen and (max-width: 1300px) {
		right: 1.5rem;
	}

	@media screen and (max-width: 1220px) {
		right: 3rem;
		top: 36%;
	}
}

.nav-list {
	@extend .list-unstyled;

	.nav-list-item {
		float: left;
		line-height: 47em / $hfs;

		@media screen and (max-width: 1220px) {
			height: 2.1rem;
			line-height: normal;

			&:nth-child(4) {
				clear: left;
			}
		}

		a {
			transition: all .4s ease;

			position: relative;
			margin: 0 0 0 27rem / $hfs;

			font-family: 'room', sans-serif;
			font-size: 18em / $hfs;
			line-height: (37 / 15) + em;

			color: $clr-dark-green;
			text-decoration: none;


			@media screen and (max-width: 1569px) {
				margin: 0 0 0 1.2rem;
			}

			&:after {
				transition: all .4s ease;
				content: '';
				position: absolute;
				top: 100%;
				left: 50%;

				width: 0;
				border-bottom: 1px solid $clr-light-brown;
			}

			&:hover {
				
				&:after {
					width: 100%;
					left: 0;
				}
			}

			&.active {
				
				&:after {
					width: 100%;
					left: 0;
				}
			}
		}
	}
}