
.icon-arrow_down:before { content: '\e800'; } /* '' */
.icon-arrow_left:before { content: '\e801'; } /* '' */
.icon-arrow_right:before { content: '\e802'; } /* '' */
.icon-barbecue:before { content: '\e803'; } /* '' */
.icon-cowcow:before { content: '\e804'; } /* '' */
.icon-cupbook:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-fish:before { content: '\e807'; } /* '' */
.icon-golf:before { content: '\e808'; } /* '' */
.icon-instagram:before { content: '\e809'; } /* '' */
.icon-jpg:before { content: '\e80a'; } /* '' */
.icon-cross:before { content: '\e80b'; } /* '' */
.icon-logo:before { content: '\e80c'; } /* '' */
.icon-mouse:before { content: '\e80d'; } /* '' */
.icon-nipple:before { content: '\e80e'; } /* '' */
.icon-pdf:before { content: '\e80f'; } /* '' */
.icon-stadium:before { content: '\e810'; } /* '' */
.icon-teatr:before { content: '\e811'; } /* '' */