@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-3imyb5');
	src:url('fonts/icomoon.eot?#iefix-3imyb5') format('embedded-opentype'),
		url('fonts/icomoon.woff?-3imyb5') format('woff'),
		url('fonts/icomoon.ttf?-3imyb5') format('truetype'),
		url('fonts/icomoon.svg?-3imyb5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow_down:before {
	content: "\e600";
}
.icon-arrow_left:before {
	content: "\e601";
}
.icon-arrow_right:before {
	content: "\e602";
}
.icon-barbecue:before {
	content: "\e603";
}
.icon-cowcow:before {
	content: "\e604";
}
.icon-cupbook:before {
	content: "\e605";
}
.icon-facebook1:before {
	content: "\e606";
}
.icon-fish:before {
	content: "\e607";
}
.icon-golf:before {
	content: "\e608";
}
.icon-instagram:before {
	content: "\e609";
}
.icon-jpg:before {
	content: "\e60a";
}
.icon-krestik:before {
	content: "\e60b";
}
.icon-logo:before {
	content: "\e60c";
}
.icon-mouse2:before {
	content: "\e60d";
}
.icon-nipple:before {
	content: "\e60e";
}
.icon-pdf:before {
	content: "\e60f";
}
.icon-stadium:before {
	content: "\e610";
}
.icon-teatr:before {
	content: "\e611";
}
