.section-footer-form {
	position: relative;
	padding: 241rem / $hfs 0 14rem;
	background: url(../images/texture.jpg);

	.contact-info-cont {
		text-align: center;
	}

	.contact-info {
		display: inline-block;
		font-size: 16em / $hfs;
		h4 {
			font-weight: 600;
			margin: 0 0 .5rem;
		}

		.phones {
			float: left;
			text-align: left;
			margin: 0 1.8em;

			a {
				color: inherit;
				text-decoration: none;
			}
		}
		.address {
			float: left;
			text-align: left;
			margin: 0 1.8em;			
		}
	}

	.section-cont {
		max-width: 1140rem / $hfs;
		margin: 0 auto;
	}

	.twig--green {
		background: url(../images/twig-green.png) repeat-x 0 bottom;
	}

	.twig--brown {
		background: url(../images/twig-brown.png) repeat-x 0 bottom;
	}

	.last-slogan {
		margin-bottom: 0;
		padding: 7rem 0 3rem;
		text-align: center;
		font-family: 'room', sans-serif;
		font-size: 38em / $hfs;
	}

	.section-form-half {
		position: relative;

		display: inline-block;
		vertical-align: top;

		width: 48.666666%;
		margin: 0 2.666666% 0 0;
		padding: 0 38rem / $hfs;
		height: 735rem / $hfs;

		background: #fff;

		&:last-child {
			margin: 0;
		}

		&.callback {
			height: 389rem / $hfs;
		}

		&.feedback {
			height: 642rem / $hfs;
		}

		.btn--big-green {
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	.section-form-head {
		display: table;

		width: 100%;
		height: 125rem / $hfs;
		margin: 0 0 23rem / $hfs;

		h2 {
			display: table-cell;
			vertical-align: middle;

			font-family: 'room', sans-serif;
			text-transform: uppercase;
			font-size: 22em / $hfs;
		}
	}

	.section-form-body {

		p {
			margin: 0 0 24rem / $hfs;

			font-size: 1em;
			line-height: 24em / 15em * 1em;
		}
	}

	.feedback-form {

		fieldset {
			margin: 0 0 28rem / $hfs;
		}

		textarea {
			width: 100%;
			height: 235rem / $hfs;

			border: none;
			font-size: 18em / $hfs;
			line-height: 41em / 18em * 1em;

			outline: 1px solid #c6cdce;

			resize: none;
		}

		label {
			display: block;
			margin: 0 0 14rem / $hfs;

			font-family: 'room', sans-serif;
			font-size: 18em / $hfs;
			line-height: 29em / 18em * 1em;
			text-transform: uppercase;
			font-weight: 500;

			&.error {
				display: none !important;
				font-size: 1em;
			}
		}

		input {
			width: 100%;
			border: none;
			border-bottom: 1px solid #c6cdce;

			&.error {
				border-color: orange;
			}
		}

		.col {
			&.col-half {
				position: relative;

				display: inline-block;
				vertical-align: top;

				width: 48.666666%;
				margin: 0 2.666666% 0 0;

				&:last-child {
					margin: 0;
				}
			}
		}
	}

	.fb-like-box {
		position: absolute;
		top: 109%;
		left: 0;

	    background: #fff;
	}
}