.main-tooltips {
	width: 262rem / $hfs;
	background: #fff;
}
/* Use this next selector to style things like font-size and line-height: */
.main-tooltips {
	.tooltipster-content {
		font-size: 14em / $hfs;
		line-height: 16em / 14em * 1em;
		padding: 0 39rem / $hfs 32rem / $hfs;
	}
	.tooltip-head {
		position: relative;
		display: table;
		padding: 0 0 0 61rem / $hfs;
		height: 123rem / $hfs;

		h3 {
			display: table-cell;
			vertical-align: middle;

			font-family: 'room', sans-serif;
			font-size: 22em / $hfs;
			line-height: 23em / 22em * 1em;
			text-transform: uppercase;
		}

		.icon {
		    color: #348540;
		    font-size: 2.5em;
		    margin: -0.5em 0 0;
		    position: absolute;
		    left: 0;
		    top: 50%;
		}
	}
	.tooltip-body {
		font-family: 'osnova_pro', sans-serif;
		font-size: 15em / $hfs;
		line-height: 24em / 15em * 1em;

		p {
			margin: 0;
		}
	}
}